<h1>Add New Contact</h1>
<form action="/add_contact" method="post">
    <label for="contact-name">Name: </label>
    <input type="text" name="contact-name" id="contact-name">
    <label for="contact-phone">Name: </label>
    <input type="text" name="contact-phone" id="contact-phone">
    <label for="contact-address">Name: </label>
    <input type="text" name="contact-address" id="contact-address">
    <button type="submit" class="btn btn-primary">Add Contact!</button>

</form>
