<h1>Created New Contact!</h1>
<p>New Contact Information: </p>
<h3>Name: @Model.GetName()</h3>
<h4>Phone Number: @Model.GetName()</h4>
<h4>Address: @Model.GetName()</h4>
<p><a href="/add_contact">Add Another Contact</a></p>
<p><a href="/view_contacts">View All Contacts</a></p>
